*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

::-webkit-scrollbar-thumb {
  /* background-color: #a7b5fd; */
  background-color: #5f5f5f66;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}

::selection {
  color: #fff;
  background: #a69bdfb0;
}

::-moz-selection {
  color: #fff;
  background: #a7b5fd;
}

::-webkit-selection {
  color: #fff;
  background: #a7b5fd;
}

@media (min-width: 1200px) {
  .custom-card {
    width: 968px;
  }
}

@media (max-width: 767px) {
  .custom-card {
    width: calc(100% - 10px);
    padding: 16px 14px;
  }
}

.n-input {
  --n-box-shadow-focus: 0 0 0 2px rgba(167, 181, 253, 0.2) !important;
  --n-border-hover: 1px solid #a7b5fd !important;
  --n-border-focus: 1px solid #a7b5fd !important;
}

.n-pagination {
  --n-item-text-color-active: #67709f !important;
  --n-item-text-color-pressed: #67709f !important;
  --n-item-text-color-hover: #a7b5fd !important;
  --n-item-border-active: 1px solid #67709f !important;
}

.n-button {
  --n-text-color-hover: #a7b5fd !important;
  --n-text-color-pressed: #67709f !important;
  --n-text-color-focus: #a7b5fd !important;
  --n-border-focus: 1px solid #a7b5fd !important;
  --n-border-pressed: 1px solid #67709f !important;
  --n-border-hover: 1px solid #a7b5fd !important;
  --n-ripple-color: #a7b5fd !important;
}

.n-back-top {
  --n-icon-color-hover: #a7b5fd !important;
  --n-icon-color-pressed: #a7b5fd !important;
}
